{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% for category in categories %}
        <div class="card">
            <div class="card-body">
                <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-primary">{{ category.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
